.container-cadastro-posto {
    min-height: 90vh;
    background-image: url("../Svgs/BGlogo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 90px;
}

.container-cadastro-posto .row {
    margin-top: 10px;
}


.container-cadastro-posto hr {
    border-top: 1px solid #407EC2;
    opacity: 0.4;
}

.container-cadastro-posto input, select {
    border: 1px solid #407EC2;
    border-radius: 100px;
}

.container-cadastro-posto label {
    margin-left: 15px;
}




.container-cadastro-posto .btn-salvar {
    background-color: #407EC2;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: opacity 0.3s;
    width: 150px;
    border-radius: 15px;
}

.container-cadastro-posto .btn-salvar:hover {
    background-color: #407EC2;
    opacity: 0.5;
    color: white;
}

.container-cadastro-posto .btn-fechar {
    background-color: rgba(0, 0, 0, 0);
    color: #407EC2;
    padding: 10px;
    min-width: 100px;
    font-weight: bold;
}

.container-cadastro-posto .btn-fechar:hover {
    color: white;
}

#selectPostoLabel {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #407EC2;
    margin-bottom: 20px;

}
