.logo {
    width: 60px;
}

.btn-pesquisa {
    max-width: 50px;
}

.hover-tx-white {
    color: black !important;
}
.hover-tx-white:hover {
    color: white !important;
}

.user-icon {
    width: 150px;
}